@media screen and (max-width: 400px) {
  header {
    padding: 0 2rem;
  }

  .container {
    padding: 8rem 2rem 10rem;
  }

  .search-box.search-date > label {
    width: 100%;
  }
  .select-product {
    flex-wrap: wrap;
  }
  .select-product select {
    width: 100%;
  }

  .history .list_wrap {
    height: calc(100% - 150px);
  }
}
